#preId ::-webkit-scrollbar {
    width: 2em;
}

#preId .Codeblock ::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    margin-block: 0.5em;
}

#preId .Codeblock ::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 50% / 1);
    border-radius: 100vw;
}
